
<div class="col-md-12">
    <div class="jumbotron">
        <h1>Sensei</h1>
        <h2>Create your own online school in minutes.</h2><br>
        <p>Get a unique website URL for your online school and we take care of charging your students. All you need to do it upload your videos and lecture material.</p>
        <%= link_to "Create An Online School", new_account_path, class: 'btn btn-primary btn-lg' %>

    </div>
</div>