<h1>Hello</h1>


<div class="col-md-3 placeholder lesson-left">

</div>




<div class="col-md-3">
    <div class="container">
        <li><%= @lesson.name %></li>
        <li><%= @lesson.description %></li>
        
    </div>

    <div class="container">
        <%= link_to "Edit", edit_project_lesson_path %>
    </div>
    
</div>

