// Place all the styles related to the accounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.subdomain-title h1 {
	margin-top: 120px;
	text-align: left !important;
}

a.school-logo img {
	width: 48px;
	position: relative;
	top: 8px;
	border-radius: 50%;
}

.school-logo-header {
	position: relative;
	top: 325px;
	width: 100px;	
	border-radius: 50%;
	box-shadow:  0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);	
}

.project_box {
	margin-top: 1.5em;
	height: 75px;
	padding: 25px;
	-webkit-transition: 0.1s all ease-in;
	-webkit-transform-origin-x: 50%;
	-webkit-transform-origin-y: 50%;
	-webkit-transform-origin-z: initial;  
}

.project_box:hover {
	box-shadow: 0 6px 10px rgba(0, 0, 0, 0.23), 0 10px 30px rgba(0, 0, 0, 0.19);
	color: rgba(0, 0, 0, 0.84);
	border-color: #f0f0f0;
}
