* {margin:0;padding:0;} 

html, body {
  min-height: 100%;
  height: 100%;
}

a:hover {
  text-decoration: none;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
}

/*.page-wrap:after {
  content: "";
  display: block;
}
*/
.navbar {
  border-radius: 0 !important;
  z-index: 99999;
}

.navbar .navbar-brand {
  position: relative;
  top: -5px;
  height: 60px;
  line-height: 30px;
  color: inherit;
}

.navbar.navbar, .navbar-default.navbar {
  margin: 0;
}

.front-page-sensei {
  background: rgba(239,241,106,0.95);
  background: -moz-linear-gradient(-45deg, rgba(239,241,106,0.95) 0%, rgba(239,241,106,1) 0%, rgba(239,241,106,1) 2%, rgba(248,58,71,1) 50%, rgba(238,23,55,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(239,241,106,0.95)), color-stop(0%, rgba(239,241,106,1)), color-stop(2%, rgba(239,241,106,1)), color-stop(50%, rgba(248,58,71,1)), color-stop(100%, rgba(238,23,55,1)));
  background: -webkit-linear-gradient(-45deg, rgba(239,241,106,0.95) 0%, rgba(239,241,106,1) 0%, rgba(239,241,106,1) 2%, rgba(248,58,71,1) 50%, rgba(238,23,55,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(239,241,106,0.95) 0%, rgba(239,241,106,1) 0%, rgba(239,241,106,1) 2%, rgba(248,58,71,1) 50%, rgba(238,23,55,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(239,241,106,0.95) 0%, rgba(239,241,106,1) 0%, rgba(239,241,106,1) 2%, rgba(248,58,71,1) 50%, rgba(238,23,55,1) 100%);
  background: linear-gradient(135deg, rgba(239,241,106,0.95) 0%, rgba(239,241,106,1) 0%, rgba(239,241,106,1) 2%, rgba(248,58,71,1) 50%, rgba(238,23,55,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eff16a', endColorstr='#ee1737', GradientType=1 );
  background-size: cover;
  background-position: center center;
  min-height: 100%;
  max-height: 900px
  /*margin: 0 auto 45px;*/
  /*padding-bottom: 30px;*/
}

.jumbotron body {
  border-radius: 0 !important;  
}

.jumbotron-front-page {
  text-align: center !important;  
  padding: 260px;
  height: 225px;
  color: white;
  background-repeat: none;
  background-position: center center;
  background-size: cover;
  border-radius: 0 !important;
}

.jumbotron-front-page h1 {
  font-weight: 900px;
  font-size: 84px;
  text-transform: uppercase;
  text-shadow: 0 1px rgba(255, 255, 255, 0.2);      
}

.school-background {
  width: 100%;
  z-index: 1;
}

.panel-body {
  padding: 10px 15px 35px !important;
}

footer {
  background-color: #f5f5f5;
}

/* Button patching */
.btn-material-red {
  background-color: #f44336;
  color: rgba(255, 255, 255, 0.84);
}

input.file.optional {
  text-transform: uppercase; 
  border-right: none; 
  border-bottom: none; 
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); 
  -webkit-transition: all 0.2s; 
  transition: all 0.2s; 
}

.fixed-front-fronter {  
  padding-bottom: 55px !important;
}

/* Offsets */
.box-header {
  margin-top: 8%;
}

.form-style {
  margin-top: 5%;
}

.placeholder {
  background-color: #f5f5f5;
}

.lesson-left {
  height: 500px;
}

/* // File Upload */

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 60%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

div.btn.btn-file > div > label {
  position: relative;
  top: 2px;
  color: #fff;
  font-weight: 400;
  font-size: 13px;
}

.file-btn-edit {
  height: 40px;
}

.btn .btn-primary {
  font-weight: 400;
}

/*// Course CSS */

.course-path-header {
  background-color: #f5f5f5;
  padding-bottom: 12px;
}

/* Footer */

p.muted.credit {
  margin: 55px auto;
  font-size: 16px;
}