.jumbotron-front-page {
	text-align: center !important;	
	padding: 260px;
	color: white;
	background-image: url('practice-bg-.svg');
	background-repeat: none;
	background-position: center center;
	background-size: cover;
	height: 400px;
}

.navbar.navbar, .navbar-default.navbar {
	margin: 0;
}

.project_box {
	height: 150px;
	padding: 25px;
	background-color: #ffffff;
}

footer {
	margin-top: 10%;
}