.jumbotron-front-page {
	text-align: center !important;	
	padding: 260px;
	height: 400px;
	color: white;
	background-repeat: none;
	background-position: top center;
	background-size: cover;
}

.jumbotron-front-page h1 {
	font-weight: 900px;
	font-size: 84px;
	text-shadow: 0 2px rgba(255, 255, 255, 0.6);			
}

.school-background {
	width: 100%;
	z-index: 1;
}

.school-background-container {
	height: 400px;
	overflow: hidden;
	position: relative;
}

.navbar.navbar, .navbar-default.navbar {
	margin: 0;
}

.project_box {
	height: 150px;
	padding: 25px;
	background-color: #ffffff;
}

#wrap {
	height: 100%;
}

/* Offsets */
.box-header {
	margin-top: 8%;
}

.form-style {
margin-top: 5%;
}

footer {
	margin-top: 50px;
	position: relative;
	bottom: 0;
}